body {
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 2em 2em 2em;
}

h1 {
  font-size: 240%;
  text-transform: uppercase;
}
  
h2 {
  font-size: 140%;
}

table {
  background-color: #000;
  border: 2px solid #000;
  border-collapse: separate; /* Needed to get the rounded corners to appear. */
  border-spacing: 1px;
  border-radius: 6px;
  font-size: 80%;  
}

thead {
  color: #fff;
}

tbody th {
  color: #000;
}

th {
  font-weight: bold;
  text-align: left;
}

th, td {
  padding: 5px;
  vertical-align: top;
}

td {
  background-color: #fff;
}

.even {
  background-color: #fff;
}

.odd {
  background-color: #ccc;
}

.glyph {
  height: 16px;
  width: 16px;
}

.project {
  font-weight: bold;
}

.uk {
  height: 16px; /* Let the browser calculate the width */
}