body {
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1em;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: red;
}

a:active {
  color: blue;
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
}
  
h2 {
  font-size: 140%;
}

img {
  height: 18px;
  width: 18px;
}

nav ul {
  margin: 30px 0;
  padding-left: 0;
  white-space: nowrap;
}

nav li {
  display: inline;
  font-weight: bold;
  list-style-type: none;
  margin-right: -5px;
}

nav a {
  border: 2px solid #000;
  padding: 10px 20px;
}

nav a:link, nav a:visited
{
  background-color: white;
  color: black;
  text-decoration: none;
}

nav a:hover
{
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  text-decoration: none;
}

nav li#active {
  background-color: #000;
  border: 2px solid #000;
  color: white;
  padding: 10px 20px;
}

p {
  font-size: 80%;
}

table {
  background-color: #000;
  border: 2px solid #000;
  border-collapse: separate; /* Needed to get the rounded corners to appear. */
  border-spacing: 1px;
  border-radius: 6px;
  font-size: 78%;  
}

table.cloudarmour {
  border-spacing: 0;
  border-style: hidden;
}

table.nodepool {
  border-spacing: 1px;
  font-size: 80%;  
}

table.cloudarmour, table.nodepool {
  background-color: #fff;
  border-color: 1px solid #000;
  border-collapse: separate; /* Needed to get the rounded corners to appear. */
  border-radius: 4px;
  margin-bottom: 8px;
  width: 100%;
}

table.cloudarmour td {
  border-top: 1px solid #000;
}

thead {
  color: #fff;
}

tbody th {
  color: #000;
}

th {
  font-weight: bold;
  text-align: left;
}

th, td {
  padding: 5px;
  vertical-align: top;
}

td {
  background-color: #fff;
}

table.cloudarmour td, table.nodepool td {
  background-color: #fff;
}

#gke-logo {
  height: 48px;
  width: 48px;
}

#notice {
  font-size: 100%;
}

#ons-logo {
  height: auto;
  width: auto;
}

.all-projects, .bookmarked-projects {
  font-weight: bold;
}

.bookmark {
  cursor: pointer;
}

.code {
  font-family: "Courier New", Courier, monospace;
}

.even td {
  background-color: #fff;
}

.odd td {
  background-color: #ddd;
}

.ip-address {
  background-color: #e2e2e2;
  border-radius: 8px;
  padding: 2px 6px;
}

.ip-addresses {
  font-size: 80%;
}

.note {
  float: right;
  font-style: italic;
}

.policycreated {
  float: right;
  font-weight: normal;
}

.policyname {
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  font-size: 120%;
  padding: 4px 6px;
}

.project {
  font-weight: bold;
}

.warning {
  color: red;
  font-weight: bold;
}
