<table>
  <thead>
    <tr>
      <th>Project</th>
      <th colspan="20">GKE Cluster</th>
    </tr>
    <tr>
      <th></th>
      <th>Retrieved</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
  <% projects.each_with_index do |project, i| cluster = project.get[:cluster] %>
    <tr class="<%= i.even? ? 'even' : 'odd' %>">
      <td class="project"><%= h project.document_id %></td>
      <td><%= h project.get[:updated] %></td>
      <td><%= d cluster[:createTime] %></td>
    </tr>
  <% end %>
  </tbody>
</table>