<table>
  <thead>
    <tr>
      <th>Project</th>
      <th colspan="20">GKE Cluster</th>
    </tr>
    <tr>
      <th></th>
      <th>Retrieved</th>
      <th>Created</th>
      <th>Location</th>
      <th>Master Version</th>
      <th>Master Authorised Networks</th>
      <th>Config Database (etcd)</th>
      <th>Maintenance Window</th>
      <th>Nodes</th>
      <th>Node Version</th>
      <th>Machine Type</th>
      <th>Disk Size</th>
      <th>Disk Type</th>
      <th>Image Type</th>
      <th>Private Nodes</th>
      <th>Secure Boot</th>
      <th>Shielded Nodes</th>
      <th>Max Pods/Node</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% projects.each_with_index do |project, i| %>
    <tr class="<%= i.even? ? 'even' : 'odd' %>">
      <td class="project"><%= h project.document_id %></td>
      <td><%= h project.get[:updated] %></td>
      <td><%= project.get[:cluster].public_methods.sort %></td>
    </tr>
  <% end %>
  </tbody>
</table>