<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  </head>
  <body>
    <img src="https://cdn.ons.gov.uk/sdc/design-system/13.5.2/img/ons-logo-pos-en.svg" alt="Office for National Statistics logo">
    <h1><%= title %></h1>
    <%= yield %>
  </body>
</html>